@charset "utf-8";

/*breadcrumb*/
.breadcrumb{text-align:right;}
.breadcrumb li{position:relative;display:inline-block;margin-left:10px;}
.breadcrumb li+li:before{content:"/";display:inline-block;margin-right:10px;color:#aaa;}
.breadcrumb li a{display:inline-block;font-size:14px;}
.breadcrumb li.home a{font-weight:600;}
.breadcrumb li.active a{color:#039ade;}

/*searcharea*/
.search_area{display:table;width:100%;margin:0 0 7px 0;padding:15px 15px 15px 18px;border:1px solid #dbdbdb;background:#f2f2f2;}
.search_area>div>div{float:none;height:auto;padding:0;background:none;}
.search_area>.nth_01,
.search_area>.nth_02{display:table-cell;line-height:0;font-size:0;vertical-align:middle;}
.search_area>.nth_01{text-align:left;}
.search_area>.nth_02{text-align:right;}
.search_area .nth_01 .btn.icon{margin-left:30px;}
.search_area .nth_01 .form_list_cell>.btn.icon{margin-left:-4px;}
.search_area .nth_02 .btn+.btn{margin-left:8px;}
.search_area .nth_02 .btn.icon+.btn.icon{margin-left:10px;}
.search_area .form_list_row{display:inline-block;vertical-align:middle;}
.search_area .nth_02 .form_list_row{margin-left:12px;}
.search_area .nth_02 .form_list_cell .cell+.cell{padding-left:18px;}
.search_area .form_list_cell{display:table;vertical-align:middle;}
.search_area .form_list_cell .cell,
.search_area .form_list_cell .label,
.search_area .form_list_cell .value{display:table-cell;height:40px;vertical-align:middle;text-align:left;white-space:nowrap;}
.search_area .form_list_cell .label{padding:0 5px 0 0;font-weight:normal;font-size:13px;color:#8a9199;}
.search_area .form_list_cell .label.add_info{padding-right:0;font-size:12px;}
.search_area .form_list_cell .value{padding-right:29px;}
.search_area .form_list_cell .value.flow .input.m{width:152px !important;}
.search_area .form_list_cell .value.flow .input.xs{width:70px !important;}
.search_area .form_list_cell .value .radio_name{display:inline-block;}
.search_area .form_list_cell .value div+.radio_name{margin:0 5px 0 7px;}
.search_area .form_list_cell .txt{display:inline-block;margin-right:14px;color:#8a9199;font-size:14px;line-height:1.3em;}
.search_area .form_list_cell .txt b{color:#6b81f5;}
.search_area .form_list_cell .txt a:hover b{text-decoration:underline;}

.search_area.type_02{position:relative;background:#e4e4e6;margin-top:-7px;border-top:0;}
.search_area.type_02 .srch_btn{position:absolute;right:0;top:0;width:110px;height:110px;padding:0 25px;color:#636080;font-weight:bold;font-size:13px;line-height:1.1em;background:#d4d4d9;text-align:center;}
.search_area.type_02 .srch_btn i.srch{display:inline-block;width:30px;height:30px;margin:-2px 10px 5px 9px;background:url('../images/btn_icon.png') -10px -160px no-repeat;vertical-align:middle;}
.search_area.type_02 .srch_btn:hover{color:#37344d;background:#cdcdd4;}
.search_area.type_02 .srch_btn:active{color:#fff;background:#6379d1;}
.search_area.type_02 .srch_btn:hover i.srch{background-position:-60px -160px;}
.search_area.type_02 .srch_btn:active i.srch{background-position:-60px -911px;}

.search_area.result{padding:20px 15px 20px 18px;}
.search_area.result .form_list_cell .label{height:30px;min-width:52px;}
.search_area.result .form_list_cell .value{height:30px;width:360px;font-size:14px;font-weight:600;padding-right:0;}
.search_area.result .form_list_cell .value:before{content:":";display:inline-block;color:#8a9199;font-weight:normal;margin-right:5px;}
.search_area.result .form_list_row:nth-child(2) .form_list_cell .value,
.search_area.result .form_list_row:nth-child(3) .form_list_cell .value{width:inherit;padding-right:70px;}

.search_area.pop{margin:0;padding:16px 0 12px 2px;border:0;border:0;background:#fff;}
.search_area.pop .nth_01 .btn.icon{margin-left:12px;}

/*검색영역 행처리될 때 간격 맞춤*/
/*.search_area.blank02 .nth_01 .form_list .form_list_row:nth-child(7){padding-left:935px;}*/
/*.search_area.blank02 .nth_01 .form_list .form_list_row:nth-child(7) .form_list_cell .value{padding-right:22px;}*/
@media (max-width:1798px){
	.search_area.blank03 .nth_01 .form_list .form_list_row:nth-child(1) .form_list_cell .label{min-width:46px;}
}
.search_area.blank01>.nth_01{width:1450px;} 
.search_area.blank01 .nth_01 .form_list .form_list_row:nth-child(1) .form_list_cell .label,
.search_area.blank01 .nth_01 .form_list .form_list_row:nth-child(6) .form_list_cell .label{min-width:56px;}
.search_area.blank01 .nth_01 .form_list .form_list_row:nth-child(7){padding-left:113px;}
.search_area.blank01 .nth_01 .form_list .form_list_row:nth-child(8){padding-left:75px;}
.search_area.blank04 .nth_01 .form_list .form_list_row:nth-child(1) .form_list_cell .label{min-width:50px;}
.search_area.blank04 .nth_01 .form_list .form_list_row:nth-child(5){margin-left:87px;}
.search_area.blank05 .nth_01 .form_list .form_list_row.blank .form_list_cell .label{min-width:42px;}

/*cont_header*/
.cont_header{display:table;width:100%;margin-top:25px;margin-bottom:10px;padding:10px 15px;background-color:#eee;}
.cont_header .nth_01,
.cont_header .nth_02{display:table-cell;font-size:0;}
.cont_header .nth_01{text-align:left;}
.cont_header .nth_02{text-align:right;}
.cont_header .label,
.cont_header .tit_info,
.cont_header .tit{display:inline-block;vertical-align:middle;}
.cont_header .tit_info{padding-right:20px;font-size:12px;color:#7e848c;}
.cont_header .tit{margin:0;padding-right:20px;}
.cont_header .label{padding:0 5px 0 0;font-weight:600;font-size:13px;color:#8a9199;}
.cont_header .nth_01 .select{margin-right:25px;}
.cont_header .nth_02 .label{padding-left:25px;}
.cont_header .nth_02 .btn{margin-left:10px;}
.cont_header .nth_02 .select+.input{margin-left:5px;}

/*cont_foot*/
.cont_foot{position:relative;height:42px;margin-top:14px;text-align:center;}
.cont_foot.type2{margin-top:0;}
.cont_foot .util{float:left;margin-top:-2px;}
.cont_foot .util .count{padding:0 2px;color:#666;font-size:12px;vertical-align:middle;}
.cont_foot .util .count em{padding:0 6px 0 2px;color:#6b81f5;}
.cont_foot .btn_area{float:right;}
.cont_foot .paging{position:absolute;top:0;left:50%;width:400px;margin-left:-200px;}
.cont_foot .paging ul{width:100%;text-align:center;}
.cont_foot .paging li{display:inline-block;}
.cont_foot .paging a{display:inline-block;min-width:27px;height:25px;padding:0 4px;font-size:12px;line-height:22px;border:1px solid #d9d9d9;border-radius:3px;background:#fff;color:#808080;}
.cont_foot .paging a:hover{color:#5a71e5;border:1px solid #6b81f5;}
.cont_foot .paging a:active{color:#5a71e5;border:1px solid #6b81f5;background:#eaedfa;}
.cont_foot .paging a.on{font-weight:600;color:#fff;border:1px solid #616166;background:#616166;z-index:2;}
.cont_foot .paging a.btn{border:0;font-size:0;min-width:25px;height:25px;background:url('../images/btn_paging.png') no-repeat;}
.cont_foot .paging .btn.first{background-position:-10px 0;}
.cont_foot .paging .btn.first:hover{background-position:-60px 0;}
.cont_foot .paging .btn.first:active{background-position:-110px 0;}
.cont_foot .paging .btn.before{background-position:-10px -50px;}
.cont_foot .paging .btn.before:hover{background-position:-60px -50px;}
.cont_foot .paging .btn.before:active{background-position:-110px -50px;}
.cont_foot .paging .btn.next{background-position:-10px -100px;}
.cont_foot .paging .btn.next:hover{background-position:-60px -100px;}
.cont_foot .paging .btn.next:active{background-position:-110px -100px;}
.cont_foot .paging .btn.last{background-position:-10px -150px;}
.cont_foot .paging .btn.last:hover{background-position:-60px -150px;}
.cont_foot .paging .btn.last:active{background-position:-110px -150px;}
.cont_foot .paging .before{margin-right:10px;}
.cont_foot .paging .next{margin-left:10px;}

/*table*/
.table table{width:100%;table-layout:fixed;text-align:left;}
.table{width:100%;line-height:1em;background:#fff;border:1px solid #dbdbdb;border-top:0;overflow:hidden;}
.table thead th{height:38px;padding:5px 17px;font-size:13px;font-weight:600;color:#98999e;border-left:1px solid #dbdbdb;background-color:#f8f8f8;border-bottom:1px solid #dbdbdb;text-align:left;}
.table thead tr:first-child th:first-child{border-left:0;}
.table tbody td{height:45px;padding:0 18px;background:#fff;font-size:14px;color:#333;border-bottom:1px solid #dbdbdb;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.table tbody tr:last-child td{border-bottom:0;}
.table .tbody tr:last-child td{border-bottom:1px solid #dbdbdb;}
.table .tbody{margin-bottom:-1px;}

/*type :01~ */
.table.type_01 .tbody{height:225px;}
.table.type_02_l{width:50%;height:535px;float:left;border-right:0;}
.table.type_02_r{width:50%;height:535px;float:left;}
.table.type_02_l .tbody,
.table.type_02_r .tbody{overflow-y:auto;max-height:495px;}
.table.type_03 .tbody{max-height:350px;}
.fr .table.type_03 .tbody{height:350px;}
.table.type_03 thead th{height:32px;}
.table.type_03 tbody td{height:35px;padding:5px 18px;white-space:normal;overflow:visible;}
/*alpha service popup table */
.table.type_04 .tbody{max-height:360px;height:360px;}
.table.type_04 thead th{font-size:0.86em;}
.table.type_04 thead th,
.table.type_04 tbody td{padding:5px 13px;border-left:0;height:30px;}
.table.type_04 tbody td{background:none;border-bottom:1px solid #ebebeb;}
.table.type_04.l{width:50%;float:left;border-right:0;}
.table.type_04.r{width:50%;float:left;}
.table.type_04.l .tbody,
.table.type_04.r .tbody{overflow-y:auto;}
/*type_05*/
.table.type_05 .tbody{max-height:630px;}
/*dashboard rule list*/
.table.type_06{border:0;border-bottom:1px solid #f0f0f0;}
.table.type_06 .thead{border-bottom:1px solid #e5e5e5;}
.table.type_06 .tbody{max-height:616px;}
.table.type_06 table{text-align:center;}
.table.type_06 thead th{height:35px;padding:0;color:#98999e;font-size:12px;background:#fff;border-left:0;text-align:center;}
.table.type_06 tbody td{height:41px;padding:0;font-weight:600;border-left:0;border-bottom:1px solid #f0f0f0;}
.table.type_06 tr th:first-child,
.table.type_06 tr td:first-child{padding-left:13px;}
.table.type_06.link tbody tr:hover td,
.table.type_06.link tbody tr:active td {border-left:0;}
/*dashboard rule list*/
.table.type_07{max-height:273px;border:0;overflow-y:auto;}
.table.type_07 tbody td{height:39px;padding:0;font-weight:600;border:0;}
.table.type_07 tbody td:nth-child(1){padding:0 8px 0 0 !important;color:#b2b2b2;font-weight:normal;}
.table.type_07 tbody td:nth-child(3){padding:0 8px 0 0 !important;color:#6ab86d;font-weight:normal;}
.table.type_07 tbody td:nth-child(4){padding-right:25px;}
/*table.type_08~9 :history, statistics*/
.table.type_08{border:1px solid #dbdbdb;}
.table.type_08 .tbody{max-height:630px;}
.table.type_09 .tbody{max-height:280px;}
.table.type_08 thead th,
.table.type_09 thead th{height:32px;}
.table.type_08 tbody td,
.table.type_09 tbody td{height:35px;padding:2px 18px;}
/*table.type_10 :CRUD-list*/
.table.type_10{border:1px solid #dbdbdb;}
.table.type_10 .tbody{max-height:630px;}

/*table.type_11,12(tfoot) :statistics*/
.table.type_12{border:1px solid #dbdbdb;}
.table.type_11 .tbody{max-height:245px;overflow-x:hidden;overflow-y:scroll;}
.table.type_12 .tbody{max-height:630px;overflow-x:hidden;overflow-y:scroll;}
.table.type_12 .tfoot,
.table.type_11 .tfoot{padding-right:6px;background-color:#fff;border-top:1px solid #c9d3fb;margin-top:-1px;}
.table.type_12 thead th,
.table.type_11 thead th{height:32px;}
.table.type_12 tbody td,
.table.type_11 tbody td{height:35px;padding:2px 18px;}
.table.type_12 tfoot td,
.table.type_11 tfoot td{height:34px;padding:2px 18px;color:#37344d;font-size:14px;font-weight:bold;} 
.table.type_12 .thead,
.table.type_11 .thead{position:relative;padding-right:6px;background:#f8f8f8;border-bottom:1px solid #dbdbdb;}
.table.type_12 .thead table,
.table.type_11 .thead table{margin-bottom:-1px;}
.table.type_12 .thead th,
.table.type_11 .thead th{position:relative;}
.table.type_12 .thead th:last-child:before,
.table.type_11 .thead th:last-child:before{content:"";display:block;position:absolute;bottom:-1px;right:-6px;height:1px;width:6px;background-color:#dbdbdb;}
.table.type_11.xscroll{overflow-x:scroll;}
.table.type_11.xscroll .thead,
.table.type_11.xscroll .tbody,
.table.type_11.xscroll .tfoot{width:3000px;min-width:100%;}
.table.type_11.xscroll.mid .thead,
.table.type_11.xscroll.mid .tbody,
.table.type_11.xscroll.mid .tfoot{width:2200px;min-width:100%;}
.table.type_11.xscroll table{table-layout:fixed;}
.table.type_11.large{border-top:1px solid #dbdbdb;}
.table.type_11.large .tbody{max-height:630px;}

/* ticd상용 dashboard */
.table.type_13{border:0 none;border-bottom:1px solid #ececec;}
.table.type_13 table {}
.table.type_13 .tbody{max-height:680px}
.table.type_13 th{position:relative;height:32px;padding:0 0 0 15px !important;font-size:11px;line-height:1.2em;border-color:#ececec;border-bottom:1px solid #ececec;}
.table.type_13 th.sort{padding-right:20px !important;}
.table.type_13 th.sort:after{position:absolute;right:15px;top:50%;margin-top:-10px;}
.table.type_13 td{height:34px;padding:0 3px 0 15px !important;white-space:normal;text-align:left;border-bottom:1px solid #ededed;}
.table.type_13 td.toe{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.table.type_13 td a:hover{text-decoration:underline;}
.table.type_13 td span{display:inline-block;}
.table.type_13 th.tar{padding-right:9px !important;padding-left:3px !important;}
.table.type_13 td.tar{padding-right:9px !important;padding-left:3px !important;}
.table.type_13 td.tac{padding:0 3px !important;}
.table.type_13 td .icon.state{margin-left:-2px;}
.table.type_13 .toe a{font-weight:600;}
.table.type_13 td span+span:before{content:"/";padding:0 3px;color:#b6babf;}

.table.type_14 thead tr th{height:42px;padding:0 14px;border-left:0;}
.table.type_14 thead tr:first-child th+th{text-align:right;padding-right:5px;}
.table.type_14 thead tr:nth-child(2) th{height:36px;font-size:11px;font-weight:normal;padding:0;}
.table.type_14 thead tr:nth-child(2) th+th{border-left:1px solid #dbdbdb;}
.table.type_14 .tbody{max-height:328px;padding:4px 0;overflow-y:auto;}
.table.type_14 tbody td{height:32px;padding:0 2px 0 14px;border-bottom:0 none !important;}
.table.type_14 tbody td .checkbox{width:130px;}
.table.type_14 thead th .checkbox label{font-size:12px;color:#888888;}
.table.type_14 tbody td .checkbox label{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;padding-right:0;font-size:14px;color:#333333;text-indent:29px;}
.table.type_14 tbody td .select.type_03{width:48px;}
.table.type_14 thead tr th .th1{display:inline-block;width:41px;text-align:center;padding-left:6px;}
.table.type_14 thead tr th .th2{display:inline-block;width:103px;}
.table.type_14 thead tr th .th3{display:inline-block;width:55px;text-align:center;padding-right:8px;}
.table.type_14 thead .select.type_03{width: 140px !important;}

.table.type_15{border:1px solid #dbdbdb;}
.table.type_15 .tbody{max-height:350px;}
.table.type_15 thead th{height:32px;}
.table.type_15 tbody td{height:35px;padding:2px 18px;}


/*table link, click*/
.table.link tbody tr:hover td{background-color:#f1f2f8;cursor:pointer;}
.table.link tbody tr:active td{background-color:#7e82a7;color:#fff;border-bottom:1px solid #7e82a7;}
.table.link tbody tr:active td+td{border-bottom:1px solid #7e82a7;}
.table tbody tr.active td,
.table.link tbody tr.active:hover td{background-color:#7e82a7;color:#fff;cursor:default;}

/*table style:etc*/
.table th.tac,
.table td.tac{padding:5px 6px !important;}
.table th.tar,
.table td.tar{padding:5px 18px 5px 5px !important;}

.table ::-webkit-scrollbar{width:6px;height:6px;}
.table ::-webkit-scrollbar-track-piece{background-color:#f6f6f6;border-left:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;}

/*table sort*/
.table .sort{cursor:pointer;}
.table .sort:after{content:"";display:inline-block;float:right;position:relative;width:13px;height:17px;background:url('../images/icon_sort.png') -18px -14px no-repeat;vertical-align:middle;margin:-2px -7px -4px 6px;}
.table .sort.up:after{background-position:-68px -14px;}
.table .sort.down:after{background-position:-118px -14px;}
.table .sort:hover:after{background-position:-18px -64px;}
.table .sort.up:hover:after{background-position:-68px -64px;}
.table .sort.down:hover:after{background-position:-118px -64px;}
.table th.sort.up, 
.table th.sort.down{color:#111 !important;font-weight:600;}
.table th.sort:hover,
.table th.sort.up:hover, 
.table th.sort.down:hover{color:#111;background-color:#f2f2f2;}

/*y_scroll 세로스크롤*/
.y_scroll table,
.y_scroll.load table{width:100%;min-width:100%;table-layout:fixed;}
.y_scroll .thead{position:relative;padding-right:6px;background:#f8f8f8;border-bottom:1px solid #dbdbdb;}
.type_03.y_scroll .thead{padding-right:0;}
.type_03.y_scroll .tbody{overflow-y:auto;}
.y_scroll .thead table{margin-bottom:-1px;}
.y_scroll .thead th{position:relative;}
.y_scroll .thead th:last-child:before{content:"";display:block;position:absolute;bottom:-1px;right:-6px;height:1px;width:6px;background-color:#dbdbdb;}
.y_scroll .tbody{overflow-x:hidden;overflow-y:scroll;max-height:520px;}
/*x_scroll 가로스크롤*/
.x_scroll{width:auto;min-width:100%;overflow-x:auto;}
.x_scroll table{min-width:100%;width:100%;max-width:100%;table-layout:fixed;}
.x_scroll.y_scroll.load table,
.x_scroll.load table{width:auto;max-width:initial;table-layout:auto;}
.x_scroll table tr td,
.x_scroll table tr th{white-space:nowrap !important;text-overflow:initial !important;}

/*table input, select edit*/
.table tbody td.edit{padding:0 6px;overflow:visible;}
.table .radio.type_01 label,
.table .checkbox.type_01 label{padding-right:20px;}