@charset "utf-8";

/*! 브라우저 스타일 동기화 스타일 */
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{margin:0;padding:0;font-weight:normal;word-wrap:break-word;}
html, body{height:100%;width:100%;}
nav{line-height:0;}
li{list-style:none;}
img, fieldset{border:0 none;}
img{vertical-align:middle;}
legend, hr{display:none;}
legend{display:block;position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
input, select, textarea{color:#111;}
button{border:0 none;cursor:pointer;}
em, address{font-style:normal;}
table{border-spacing:0;}
caption{font-size:0;line-height:0;width:0;height:0;text-indent:-1000px;overflow:hidden;}
a, a:link, a:visited, a:hover, a:active , a:focus{text-decoration:none;}
a, input, button, textarea{outline:0 none;}
*{font-family:'Segoe UI', 'Malgun Gothic', 'Nanum Gothic', '나눔고딕', sans-serif !important;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-text-size-adjust:none;}
html, body, a{font-size:14px;color:#111;line-height:1.3em;}
html{position:relative;}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{color:#aaa !important;font-size:13px;font-weight:normal;}

/* display */
.show, .on{display:block !important;}
.hide{display:none !important;}
/*.oh{overflow: hidden !important;}*/

/*text-align*/
.tal{text-align:left !important;}
.tar{text-align:right !important;}
.tac{text-align:center !important;}

/*col*/
.col_w100{width:100%;}
.col_w90{width:90%;}
.col_w80{width:80%;}
.col_w75{width:75%;}
.col_w60{width:60%;}
.col_w50{width:50%;}
.col_w40{width:40%;}
.col_w35{width:35%;}
.col_w32{width:32.5%;}
.col_w30{width:30%;}
.col_w25{width:25%;}
.col_w20{width:20%;}
.col_w10{width:10%;}

/* clearfix */
.clearfix{display:inline-block;}
*html .clearfix{height:1%;}
.clearfix:after{visibility:hidden;content:" ";display:block;clear:both;height:0;line-height:0;font-size:0;}

/* scroll */
::-webkit-scrollbar{width:10px;height:10px;}
::-webkit-scrollbar-track-piece{background-color:#e8e9eb;border-left:1px solid #d4d8d9;}
::-webkit-scrollbar-thumb{height:50px;background-color:#b9bdc0;border-left:1px solid #a7a8ac;border-bottom:1px solid #a7a8ac;}
::-webkit-scrollbar-corner{background-color:#d4d8d9;}

/* loading ------------------------------------------------*/
.loading_page{position:absolute;left:50%;top:50%;width:50px;height:50px;-webkit-animation:ro1 8s linear infinite;}
.loading_page i{position:absolute;left:0;top:0;width:50px;height:50px;}
.loading_page i:after{content:'';position:absolute;width:50px;height:50px;border-radius:100%;border-left:6px solid #122d5a;border-bottom:1px solid #0b2349;-webkit-animation:ro2 1s linear infinite;}
.loading_page i:nth-child(1){-webkit-transform:rotate(10deg);}
.loading_page i:nth-child(2){-webkit-transform:rotate(105deg);}
@-webkit-keyframes ro1{0%{-webkit-transform:translate(-50%, -50%);}100%{-webkit-transform:translate(-50%, -50%);}}
@-webkit-keyframes ro2{0%{-webkit-transform:skewX(52deg) rotate(0deg);}100%{-webkit-transform:skewX(52deg) rotate(360deg);}}
.loading_page.red i:after{border-left:6px solid #d10a0a;border-bottom:1px solid #b90000;}

.loading{display:inline-block;width:30px;height:30px;position:relative;border:4px solid #6b81f5;margin:12% 0;left:49%;animation:loader 3.5s infinite ease;}
.loading-inner{vertical-align:top;display:inline-block;width:100%;background-color:#6b81f5;animation:loader-inner 3.5s infinite ease-in;}
@keyframes loader{0%{transform:rotate(0deg);}25%{transform:rotate(180deg);}50%{transform:rotate(180deg);}75%{transform:rotate(360deg);}100%{transform:rotate(360deg);}}
@keyframes loader-inner{0%{height:0%;}25%{height:0%;}50%{height:100%;}75%{height:100%;}100%{height:0%;}}
.dim{position:fixed;top:0;right:0;bottom:0;left:0;z-index:2000;border:1px solid #000;background-color:rgba(0,0,0,0.6);}
.loading_type1 {position:absolute;display:inline-block;top:50%;left:50%;margin:-30px 0 0 -30px;border-width:30px; border-radius:50%; border-style:double;border-color:red transparent;-webkit-animation:spin 1s linear infinite;	 -moz-animation:spin 1s linear infinite;		 -o-animation:spin 1s linear infinite;				animation:spin 1s linear infinite;}
@-webkit-keyframes spin {
100% { -webkit-transform:rotate(359deg); }}
@-moz-keyframes spin {
100% { -moz-transform:rotate(359deg); }}
@-o-keyframes spin {
100% { -moz-transform:rotate(359deg); }}
@keyframes spin {
100% {  transform:rotate(359deg); }}

.chart_wrap > .loading{margin-top:9.5%;}
.select_service_cont > .loading{margin-top:40%;}
.table.type_11 .loading{margin:107px 0 108px 0;}

.loading.type_02 {position:relative;display:inline-block;top:0;left:0;width:28px;height:28px;margin:0;border:3px solid #e3e3e6;border-top:3px solid #6b81f5;border-radius:50%;vertical-align:middle;animation:ani_03 1s linear infinite;}
@-webkit-keyframes ani_03{
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


/* Layout */
.wrap{width:100%;height:100%;min-width:1720px;min-height:500px;background:#fafafa;}
.wrap.bg2{background:#f2f2f2;}
.wrap.bg3{background:#e5e5e5;}
.header{position:fixed;top:0;left:0;width:100%;min-width:1720px;height:50px;background:#37344d;z-index:900;}
.content{width:100%;min-width:1720px;min-height:100%;padding:50px 0 0 0;background:#fafafa;}
.content.broker{background:#f2f2f2;}
.content.dashboard{background:#e5e5e5;padding-bottom:10px;}

/* gnb ------------------------------------------------------*/ 
/* header */
.header h1.logo{position:absolute;width:300px;height:50px;top:0;left:25px;font-size:0;background:url('../images/logo.png') no-repeat;z-index:999;transition-duration:0.4s;}
.nav-container{position:absolute;width:100%;min-width:1720px;left:0;top:0;background:#37344d;height:50px;box-shadow:0px 1px 4px 1px rgba(0,0,0,0.25);z-index:900;transition-duration:0.4s;}

.nav-container .nav{display:inline-block;list-style-type:none;padding:0;margin-left:340px;transition-duration:0.4s;}
.nav-container .nav ul{margin-left:inherit;}
.nav-container .nav li{display:inline-block;padding:12px 3px 8px 3px;}
.nav-container .nav li .dropbtn{display:inline-block;color:#a3a3a3;text-align:center;margin:5px 0;padding:0px 20px;text-decoration:none;font-weight:600;/*text-transform:uppercase;*/}
.nav-container .nav li a.active,
.nav-container .nav li a:hover, 
.nav-container .nav li.dropdown:hover .dropbtn{background:none;color:#fff;}
.nav-container .nav li a:focus{background:none;}
.nav-container .nav li.dropdown{display:inline-block;}
.nav-container .nav li.dropdown > a:after{content:"";display:inline-block;width:0;height:0;border:4px solid #a3a3a3;border-bottom-width:0;border-right-color:transparent;border-left-color:transparent;margin:0 5px 3px 5px;vertical-align:middle;}
.nav-container .nav li.dropdown:hover > a:after{border-color:#fff;border-right-color:transparent;border-left-color:transparent;}

.nav-container .nav .dropdown_content, 
.nav-container .nav .dropdown_content_3dpt{display:none;position:absolute;z-index:100;padding:8px 5px;margin-left:-7px;background-color:#37344d;box-shadow:0px 3px 3px -1px rgba(0,0,0,0.3);border-radius:4px;}
.nav-container .nav .dropdown_content{margin-top:2px;white-space:nowrap;}
.nav-container .nav .dropdown_content_3dpt{margin-left:95%;margin-top:-41px;}
.nav-container .nav .dropdown_content a{display:inline-block;width:inherit;color:#a3a3a3 !important;padding:7px 16px;border-radius:2px;text-align:left;text-decoration:none;font-weight:normal;}
.nav-container .nav .dropdown_content a:hover,
.nav-container .nav .dropdown_content .dropdown_sub a:hover{background:#5c577b;color:#fff !important;}
.nav-container .nav .dropdown:hover .dropdown_content, 
.nav-container .nav .dropdown_sub:hover .dropdown_content_3dpt{display:inline-block;}
.nav-container .nav .dropdown_content li{padding:1px 5px;}
.nav-container .nav .dropdown_content li a:after{display:none !important;}
.nav-container .nav>li:nth-child(7) .dropdown_content{margin-left:-162px;}
.nav-container .nav>li:nth-child(8) .dropdown_content{margin-left:-784px;}

/* gnb information */
.nav_info{float:right;margin-right:22px;}
.nav_info p{display:inline-block;float:left;height:50px;line-height:0;padding:10px 0 0 20px;}
.nav_info p span{display:inline-block;width:30px;height:30px;font-size:0;background:url(../images/btn_icon.png) -11px -108px no-repeat;vertical-align:middle;}
.nav_info p.id{border-right:1px solid #2c2a3e;padding-right:20px;}
.nav_info p.logout{border-left:1px solid #45425a;}

.nav_info p.id{text-align:right;}
.nav_info p.id strong{display:inline-block;color:#9fa2a6;font-size:13px;font-weight:normal;vertical-align:middle;padding:0 5px 0 8px;margin-top:-1px;}
.nav_info p.id span{background-position:-10px -60px;}
.nav_info p.logout a span{background-position:-10px -10px;}
.nav_info p.logout a:hover span{background-position:-60px -10px}
.nav_info p.logout a:active span{background-position:-110px -10px;}

/* title area */
.page_title{margin-bottom:12px;}
.page_title h2{display:inline-block;font-size:24px;color:#37344d;padding-left:1px;}

/* sub title */
.h3{display:inline-block;font-size:16px;font-weight:600;color:#252333;}

/* error page ------------------------------------------*/
.error{width:100%;height:100%;min-width:820px;background:#fff;text-align:center;}
.error .info{display:inline-block;width:700px;margin-top:10%;padding:10px 0 50px 0;}
.error header{display:inline-block;width:100%;margin-bottom:90px;border-bottom:solid 1px #e5e5e5;}
.error header h1{float:left;width:250px;height:54px;font-size:0;background:url('../images/logo_img2.png')  0 3px no-repeat;}
.error header span{float:right;font-size:13px;color:#81808c;padding:24px 5px 9px 5px;}
.error h2{font-size:76px;color:#1f2226;font-weight:100;line-height:1em;margin-bottom:30px;}
.error p{font-size:20px;color:#808080;line-height:28px;}
.error .btn.type_02{height:50px;margin-top:55px;font-size:20px;font-weight:normal;padding:0 35px 2px 35px;}
@media screen and (min-width:1920px){
	.error .info{margin-top:193px;}
}

/* popup -----------------------------------------------*/
.popup{display:none;position:fixed;top:0;right:0;bottom:0;left:0;width:initial;height:initial;max-height:initial;background:rgba(212, 212, 217, 0.85);z-index:1001;animation:opacity 0.1s ease-in-out;}
.pop_wrap{position:absolute;top:10%;width:500px;min-height:150px;padding-bottom:30px;background:#fff;box-shadow:0px 4px 10px 0 rgba(0,0,0,0.25);animation:scale 0.17s ease-in-out;}
.popup.bg_none{background:none;}
.popup.bg_none .pop_wrap{box-shadow:0px 7px 20px 0 rgba(0,0,0,0.3);}
.pop_modal{display:none;}
.pop_modal .pop_wrap{position:relative;box-shadow:0px 4px 20px 0 rgba(0,0,0,0.25)}
.pop_modal .pop_wrap .close{position:absolute;top:7px;right:15px;margin:0;float:none;}
.pop_wrap.xl{width:1065px;}
.pop_wrap.l{width:840px;}
.pop_wrap.m{width:680px;}
.pop_wrap.s{width:380px;}
@keyframes scale{from {transform:scale(0.7);opacity:0;}to {transform:scale(1);opacity:1;}}
@keyframes opacity{from {opacity:0;}to {opacity:1;}}

.pop_wrap.state{width:520px;padding:10px;background:none;box-shadow:none;}
.pop_wrap.alert{width:380px;padding:30px;}
.pop_wrap.pw{width:520px;padding-bottom:40px;}

.pop_wrap h2{width:100%;height:42px;padding:12px 25px;text-align:left;background:#37344d;color:#fff;font-size:18px;}
.pop_wrap h4{margin-top:0;font-size:16px;font-weight:600;margin-bottom:15px;}
.pop_wrap .close{float:right;margin:-36px 15px 0 0;width:30px;height:30px;font-size:0;background:url('../images/btn_close.png') -11px -110px no-repeat;cursor:pointer;}
.pop_wrap .close:hover{background-position-x:-61px;}
.pop_wrap .close:active{background-position-x:-111px;}
.pop_wrap .pop_cont{max-height:660px;overflow:auto;color:#666;}
.pop_wrap .pop_cont.type_02{padding:20px 25px 10px;}
.pop_wrap .pop_cont.type_02>.cont_head.single{margin-top:-20px;}
.pop_wrap .btn_area{text-align:center;margin-top:20px;}
.pop_wrap .btn_area button{margin:0 3px;}
.pop_wrap .detail{border-radius:0;border:0;border-bottom:1px solid #e5e5e5;}

/* pw */
.pop_wrap.pw p{width:100%;color:#111;font-weight:bold;font-size:16px;text-align:center;padding:40px 40px;padding-top:30px;border-bottom:1px solid #e0e0e0;margin-top:15px;}
.pop_wrap.pw i{display:inline-block;width:32px;height:30px;font-size:0;background:url('../images/img_caution.png') no-repeat;vertical-align:middle;margin-right:10px;margin-top:-5px;}
.pop_wrap.pw .insert{margin:40px 50px;margin-bottom:0;display:inline-block;}
.pop_wrap.pw .insert label{float:left;display:inline;vertical-align:middle;}
.pop_wrap.pw .insert label{width:180px;text-align:left;margin-top:12px;}
.pop_wrap.pw .insert label em{color:#6b81f5;font-size:14px;font-family:Verdana !important;}
.pop_wrap.pw .insert .input{width:240px;margin-bottom:10px;}
.pop_wrap.pw .insert .input input{font-size:18px;font-weight:bold;padding-bottom:4px;}
.pop_wrap.pw .insert .input input::-webkit-input-placeholder{font-size:13px;}
.pop_wrap.pw span{color:#ed2424;margin:15px 0 15px 0;text-align:center;padding:0 30px;}

/*disconnect*/
.disconnect{display:inline-block;width:100%;}
.disconnect .loading_page{top:25%;}
.disconnect h4{margin:110px 0 15px 0;color:#d10a0a;font-size:22px;font-weight:600;text-align:center;}
.disconnect p{line-height:22px;text-align:center;}

.connect{position:absolute;width:100%;z-index:90;}
.connect .disconnect{position:fixed;width:100%;height:100%;background:rgba(255,255,255,.92);}
.connect .disconnect.top{top:50px;transition-duration:0.4s;}
.connect .disconnect .loading_page{top:290px;}
.connect .disconnect h4{margin-top:350px;}


/* form -----------------------------------------------*/
/*form select, input text, checkbox, radio*/ 
.input.xs, .select.xs{width:84px !important;}
.input.s, .select.s{width:116px !important;}
.input.m, .select.m{width:184px !important;}
.input.l, .select.l{width:260px !important;}
.input.xl, .select.xl, .textarea.xl{width:420px !important;}
.input.xxl, .select.xxl, .textarea.xxl{width:765px !important;}

.input{position:relative;display:inline-block;width:100%;vertical-align:middle;}
.input input{position:relative;width:calc(100% - 2px);margin:1px;padding:0 11px 1px 11px;-webkit-border-radius:100px !important;border-radius:100px !important;font-size:14px;}
.input input:focus{width:100%;margin:0;-webkit-box-shadow:none;box-shadow:none;}
.input.type_01 input{height:32px;border:1px solid #bdbdbd;background:#fff;}
.input.type_02 input{height:32px;border:1px solid #aaa;background:#f0f0f2;}
.input.type_03 input{height:28px;border:1px solid #dedede;background:#fff;color:#666;font-size:13px;padding:0 9px 1px 9px;}
.input.type_04 input{height:37px;border:1px solid #9495a1;background:#838491;color:#fff;font-size:16px;font-weight:300;padding:0 11px 3px 11px;box-shadow:0 1px 0 0 #6d6e7a inset;}
.input.type_01 input:focus{height:34px;border:2px solid #6379d1;}
.input.type_02 input:focus{height:34px;border:2px solid #6379d1;}
.input.type_03 input:focus{height:30px;border:2px solid #6379d1;}
.input.type_04 input:focus{height:39px;border:2px solid #5266b4;}

.select{position:relative;display:inline-block;width:100%;vertical-align:middle;z-index:1;line-height:0;}
.select select{width:100%;height:100%;padding-left:11px;line-height:normal; /* line-height 초기화 */ border:0;font-family:inherit; /* 폰트 상속 */ font-size:14px;opacity:0; /* 숨기기 */ filter:alpha(opacity=0); /* IE8 숨기기 */ -webkit-appearance:none;/* 네이티브 외형 감추기 */ -moz-appearance:none;appearance:none;}
.select label{overflow:hidden;display:block;position:absolute;top:0;left:0;bottom:0;right:0;margin:0;padding:0 23px 0 11px;background-color:#fff;-webkit-border-radius:100px;border-radius:100px;font-size:14px;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal !important;text-align:left;z-index:-1; /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */ ;}
.select label:before{content:"";position:absolute;top:0;bottom:0;right:0;width:24px;background:url('../images/icon_form.png') -10px -10px no-repeat;font-size:inherit;}
.select.type_01{height:32px;margin:1px;}
.select.type_02{height:32px;margin:1px;}
.select.type_03{height:28px;margin:1px;}
.select.type_04{height:37px;margin:1px;}
.select.type_01 label{line-height:30px;border:1px solid #bdbdbd;background:#fff;}
.select.type_02 label{line-height:30px;border:1px solid #aaa;background:#f0f0f2;color:#111;}
.select.type_03 label{line-height:26px;border:1px solid #dedede;background:#fff;color:#666;font-size:13px;padding:0 20px 0 9px;}
.select.type_04 label{line-height:34px;border:1px solid #9495a1;background:#838491;color:#fff;font-size:16px;font-weight:300;box-shadow:0 1px 0 0 #6d6e7a inset;}
.select.type_01 select:focus+label{top:-1px;left:-1px;right:-1px;bottom:-1px;border:2px solid #6379d1;}
.select.type_02 select:focus+label{top:-1px;left:-1px;right:-1px;bottom:-1px;border:2px solid #6379d1;}
.select.type_03 select:focus+label{top:-1px;left:-1px;right:-1px;bottom:-1px;border:2px solid #6379d1;}
.select.type_04 select:focus+label{top:-1px;left:-1px;right:-1px;bottom:-1px;border:2px solid #5266b4;}
.select.type_01 label:before{background-position:-15px -210px;}
.select.type_02 label:before{background-position:-15px -159px;}
.select.type_03 label:before{background-position:-18px -212px;width:20px;}
.select.type_04 label:before{background-position:-16px -258px;}
.select.type_03 select {padding-left:8px;}

.select.type_05{width:150px;height:36px;line-height:36px;}
.select.type_05 label{background-color:transparent;font-size:16px;font-weight:300;color:#fff;}
.select.type_05 label:before{background-position:-10px -107px;}

/*datetime*/
.input.time input,
.input.date input,
.input.date_month input,
.input.datetime input{padding-right:32px;}
.input.date .btn,
.input.date_month .btn,
.input.time .btn,
.input.datetime .btn{display:block;position:absolute;top:50%;width:28px;height:30px;margin-top:-15px;background:url('../images/icon_datetime.png') no-repeat;}
.input.date .btn,
.input.date_month .btn,
.input.datetime .btn{right:5px;background-position:-12px -10px;}
.input.time .btn{right:5px;background-position:-12px -60px;}
.input.date .btn:hover,
.input.date_month .btn:hover,
.input.datetime .btn:hover{background-position:-62px -10px;}
.input.date .btn:active,
.input.date_month .btn:active,
.input.datetime .btn:active
.input.datetime .btn:active{background-position:-112px -10px;}
.input.time .btn:hover{background-position:-62px -60px;}
.input.time .btn:active{background-position:-112px -60px;}
.input.date .btn.active,
.input.date_month .btn.active,
.input.time .btn.active,
.input.datetime .btn.active{background-position-x:-112px;}

.input.type_04.date .btn,
.input.type_04.datetime .btn{background-position:-12px -310px;}
.input.type_04.date .btn:hover,
.input.type_04.datetime .btn:hover{background-position:-62px -310px;}
.input.type_04.date .btn:active,
.input.type_04.datetime .btn:active{background-position:-112px -310px;}

.input.type_04.date,
.input.type_01.date,
.input.type_02.date{width:127px;}
.input.type_04.date_month,
.input.type_01.date_month,
.input.type_02.date_month{width:105px;}
.input.type_04.time,
.input.type_01.time,
.input.type_02.time{width:87px;}
.input.type_04.datetime{width:170px;}
.input.type_01.datetime,
.input.type_02.datetime{width:160px;}

.colon:before{content:":";margin:0 3px 0 -1px;color:#111;font-size:14px;vertical-align:top;}
.wave:before{content:"~";padding:0 2px;color:#111;font-size:14px;vertical-align:middle;}
.wave.type_04:before {color:#fff; font-size:18px;font-weight:300;}
.result .wave:before{padding:0 4px 0 1px;vertical-align:top;}

.text_value.type_04{display:inline-block;height:37px;padding:0 10px 0 5px;line-height:37px;font-size:16px;font-weight:300;color:#fff;vertical-align:middle;}


/*textarea*/
.textarea{width:100%;overflow:hidden;}
.textarea textarea{display:block;position:relative;width:calc(100% - 2px);text-align:left;overflow-y:auto;resize:none;}
.textarea.type_01 textarea{height:auto;min-height:32px;margin:1px;padding:6px 8px 5px 11px;border:1px solid #bdbdbd;-webkit-border-radius:4px;border-radius:4px;background:#fff;font-size:14px;}
.textarea.type_02 textarea{height:auto;min-height:32px;margin:1px;padding:6px 8px 5px 11px;border:1px solid #aaa;-webkit-border-radius:4px;border-radius:4px;background:#f0f0f2;font-size:14px;}
.textarea.type_01 textarea:focus,
.textarea.type_02 textarea:focus{width:100%;height:auto;margin:0;border:2px solid #6379d1;}

/*btn -----------------------------------------*/
.btn{display:inline-block;position:relative;vertical-align:middle;}
.btn.type_01, 
.btn.type_02{min-width:80px;height:36px;margin-left:5px;padding:0 15px 1px 15px;-webkit-border-radius:4px;border-radius:4px;font-weight:600;font-size:14px;}
.btn.type_01{background:#fff;color:#555;border:1px solid #afafaf;}
.btn.type_01:hover{color:#576bb5;border:1px solid #6379d1;}
.btn.type_01:active{color:#576bb5;border:1px solid #6379d1;background:#eaedfa;}
.btn.type_02{background:#6379d1;color:#fff;border:1px solid #576bb5;}
.btn.type_02:hover{background:#5266b4;border:1px solid #485a9c;}
.btn.type_02:active{background:#404685;border:1px solid #373d73;}

.btn.type_03{min-width:30px;height:30px;margin:0;padding:0 10px 1px 10px;-webkit-border-radius:4px;border-radius:4px;font-size:13px;background:#fff;color:#7d80b3;border:1px solid #8e90b1;}
.btn.type_03:hover{color:#576bb5;border-color:#6379d1;}
.btn.type_03:active{color:#576bb5;border-color:#6379d1;background:#eaedfa;}
.btn.type_03+.btn.type_03{margin-left:4px;}

.btn.type_04{min-width:30px;height:32px;margin-left:3px;padding:0 9px 2px 9px;-webkit-border-radius:3px;border-radius:3px;font-size:12px;background:transparent;color:#505059;border:1px solid #6d6e7a;}
.btn.type_04:hover{border:1px solid #5c5c66;background:#838491;color:#fff;}
.btn.type_04:active{border:1px solid #37344d;background-color:#37344d;color:#fff;}

.btn.type_05{min-width:30px;height:26px;margin:0;padding:0 9px 2px 9px;-webkit-border-radius:4px;border-radius:4px;font-size:12px;background:#fafafa;color:#9394ad;border:1px solid #c6c7d8;}
.btn.type_05:hover{color:#576bb5;border-color:#6379d1;}
.btn.type_05:active{color:#576bb5;border-color:#6379d1;background:#eaedfa;}
.btn.type_05+.btn.type_05{margin-left:2px;}

.btn.toggle_01{width:92px;height:22px;padding-bottom:3px;color:#939ccc;font-size:12px;text-align:center;background:#fff;border:1px solid #dbdbdb;border-bottom:0;border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}
.btn.toggle_01:before{content:'Hide Chart';display:inline-block;}
.btn.toggle_01.show:before{content:'Show Chart';}
.btn.toggle_01:hover{color:#6b81f5;border-color:#b9c0e3;}
.btn.toggle_01:active{color:#6b81f5;border-color:#b9c0e3;background:#eaedfa;}

.content.statistics .cont_body{position:relative;}
.content.statistics .cont_body .btn.toggle_01{position:absolute;top:35px;right:25px;}

/*btn icon*/ 
.btn.icon{display:inline-block;width:30px;min-width:30px;height:30px;min-height:30px;margin:0 3px 0 0;padding:0;border:0 none;-webkit-border-radius:0;border-radius:0;background-color:transparent;vertical-align:middle;}
.btn_s.icon{display:inline-block;width:22px;height:16px;padding:0;background-color:transparent;vertical-align:middle;}
.btn_l.icon{display:inline-block;width:30px;height:38px;padding:0;background-color:transparent;font-size:0;}
.btn_l.icon.disabled{opacity:0.3;cursor:default;}
.icon i{display:inline-block;width:30px;height:30px;margin:0;background:url('../images/btn_icon.png') no-repeat;}

/*검색*/ 
.icon i.search{background-position:-10px -160px;}
.icon i.search:hover{background-position:-60px -160px;}
.icon i.search:active{background-position:-110px -160px;}
.icon i.search.s{background-position:-10px -1157px;}
.icon i.search.s:hover{background-position:-60px -1157px;}
.icon i.search.s:active{background-position:-110px -1157px;}
/*refresh*/
.icon i.refresh{background-position:-10px -110px;}
.icon i.refresh:hover{background-position:-60px -110px;}
.icon i.refresh:active{background-position:-110px -110px;}
/*upload*/
.icon i.upload{background-position:-10px -460px;}
.icon i.upload:hover{background-position:-60px -460px;}
.icon i.upload:active{background-position:-110px -460px;}
/*download*/
.icon i.down{background-position:-10px -510px;}
.icon i.down:hover{background-position:-60px -510px;}
.icon i.down:active{background-position:-110px -510px;}
/*popup*/
.icon i.pop{background-position:-14px -315px;width:22px;height:16px;margin-top:-1px;}
.icon i.pop:hover{background-position:-64px -315px;}
.icon i.pop:active{background-position:-114px -315px;}
/*pre, next*/
.icon i.pre{background-position:-10px -352px;width:30px;height:38px;}
.icon i.pre:hover{background-position:-60px -352px;}
.icon i.pre:active{background-position:-110px -352px;}
.icon.disabled i.pre{background-position:-10px -352px;width:30px;height:38px;}
.icon i.next{background-position:-10px -402px;width:30px;height:38px;}
.icon i.next:hover{background-position:-60px -402px;}
.icon i.next:active{background-position:-110px -402px;}
.icon.disabled i.next{background-position:-10px -402px;width:30px;height:38px;}
/*crud*/
.icon i.add_folder{background-position:-10px -660px;}
.icon i.add_folder:hover{background-position:-60px -660px;}
.icon i.add_folder:active{background-position:-110px -660px;}
.icon i.add{background-position:-10px -710px;}
.icon i.add:hover{background-position:-60px -710px;}
.icon i.add:active{background-position:-110px -710px;}
.icon i.del{background-position:-10px -760px;}
.icon i.del:hover{background-position:-60px -760px;}
.icon i.del:active{background-position:-110px -760px;}
.icon i.edit{background-position:-10px -810px;}
.icon i.edit:hover{background-position:-60px -810px;}
.icon i.edit:active{background-position:-110px -810px;}
.icon i.save{background-position:-10px -860px;}
.icon i.save:hover{background-position:-60px -860px;}
.icon i.save:active{background-position:-110px -860px;}
/*white - 검색*/ 
.icon i.pause{background-position:-10px -1060px;}
.icon i.pause:hover{background-position:-60px -1060px;}
.icon i.pause:active{background-position:-110px -1060px;}
/*refresh*/
.icon i.play{background-position:-10px -1110px;}
.icon i.play:hover{background-position:-60px -1110px;}
.icon i.play:active{background-position:-110px -1110px;}
/*up, down*/
.icon i.move_up{background-position:-10px -1208px;}
.icon i.move_up:hover{background-position:-60px -1208px;}
.icon i.move_up:active{background-position:-110px -1208px;}
.icon i.move_down{background-position:-10px -1258px;}
.icon i.move_down:hover{background-position:-60px -1258px;}
.icon i.move_down:active{background-position:-110px -1258px;}

/*input radio, checkbox*/
.radio,
.checkbox{display:inline-block;position:relative;vertical-align:middle;}
.radio input,
.checkbox input{overflow:hidden;position:absolute;width:0;height:0;padding:0;border:0;opacity:0;line-height:0;}
.radio label,
.checkbox label{display:inline-block;vertical-align:middle;}
.radio input:disabled label,
.checkbox input:disabled label{cursor:default;color:#888;}

.radio.type_01 label,
.checkbox.type_01 label{min-height:20px;padding-left:0;padding-right:30px;text-indent:27px;line-height:20px;}
.radio.type_01 label:before,
.checkbox.type_01 label:before{content:"";display:block;position:absolute;left:0;width:20px;height:20px;border:0 none;background:url('../images/icon_form.png') no-repeat;}

.radio.type_01 label:before{background-position:-115px -15px;}
.radio.type_01 input:checked+label:before{background-position:-165px -15px;}
.radio.type_01 input:disabled+label:before{background-position:-15px -15px;}
.radio.type_01 input:disabled:checked+label:before{background-position:-65px -15px;}
.checkbox.type_01 label:before{background-position:-115px -65px;}
.checkbox.type_01 input:checked+label:before{background-position:-165px -65px;}
.checkbox.type_01 input:disabled+label:before{background-position:-15px -65px;}
.checkbox.type_01 input:disabled:checked+label:before{background-position:-65px -65px;}

/*statistics - radio tab*/
.radio.type_02 label{min-width:58px;min-height:32px;padding:6px 10px 0 10px;text-align:center;font-size:14px;line-height:1.3em;border:1px solid #bdbdbd;border-right-width:0;background:#fff;cursor:pointer;}
.radio.type_02 input:checked+label{color:#fff;border-color:#8989a1;background:#8989a1;}
.radio_tab .radio.type_02:first-child label{padding:6px 0 0 3px;border-top-left-radius:20px;border-bottom-left-radius:20px;}
.radio_tab .radio.type_02:last-child label{padding:6px 3px 0 0;border-right-width:1px;border-top-right-radius:20px;border-bottom-right-radius:20px;}

/* .radio.type_03~04 */
.radio.type_03 label{width:28px;height:28px;margin:0 2px 0 0;line-height:28px;padding:0;font-size:14px;vertical-align:middle;text-align:center;-webkit-border-radius:20px;border-radius:20px;cursor:pointer;}
.radio.type_03 input:checked+label{background:#8989a1;color:#fff;}

.radio.type_04 label{width:35px;height:35px;margin:0 2px;line-height:33px;-webkit-border-radius:20px;border-radius:20px;padding:0;font-size:16px;font-weight:300;vertical-align:middle;text-align:center;color:#dcdcde;cursor:pointer;}
.radio.type_04 input:checked+label{box-shadow:0 1px 0 0 #6d6e7a inset;background:#838491;color:#fff;}

/*file upload*/
.file_upload{position:relative;display:inline-block;height:90px;margin:30px 0 25px 25px;padding-left:110px;}
.file_upload .input{display:inline-block;width:511px;margin-top:-1px;}
.file_upload .input input:focus{margin:1px;width:calc(100% - 2px);}
.file_upload .fi_tex{height:36px;border:1px solid #aaa;background:#f0f0f2;white-space:nowrap;}
.file_upload .btn_area{margin:35px 0 0 -110px;}
.fi_div .alt_btn{display:block;position:absolute;top:0;left:0;width:100px;height:36px;line-height:36px;border:1px solid #afafaf;background-color:#fff;color:#555;text-align:center;border-radius:4px;-webkit-border-radius:4px;font-weight:600;cursor:pointer;}
.fi_div:hover .alt_btn{color:#576bb5;border:1px solid #6379d1;}
.fi_div:active .alt_btn{color:#576bb5;border:1px solid #6379d1;background:#eaedfa;}
.fi_div .fi_hid{position:absolute;overflow:hidden;width:100px;height:36px;left:0;top:0;font-size:25px;opacity:0;filter:alpha(opacity=0);-ms-filter:alpha(opacity=0);-moz-filter:alpha(opacity=0);cursor:pointer;}

/*switch*/
.switch{display:inline-block;position:relative;vertical-align:middle;cursor:pointer;}
.switch input{overflow:hidden;position:absolute;padding:0;border:0;opacity:0;line-height:0;}
.switch label{display:inline-block;height:28px;min-width:54px;line-height:26px;margin:0;padding-top:1px;padding-left:0;padding-right:28px;vertical-align:middle;text-indent:66px;  font-size:14px;color:#222;cursor:pointer;}
.switch input:disabled + label{color:#ccc;cursor:default;}
.switch label:before{content:"";display:block;position:absolute;top:0;bottom:0;left:0;width:54px;-webkit-border-radius:100px;border-radius:100px;background-color:#d7d7d9;  -webkit-transition:all 0.3s;transition:all 0.3s;}
.switch label:after {content:"";display:block;position:absolute;top:2px;left:2px;width:24px;height:24px;-webkit-border-radius:100px;border-radius:100px;background-color:#fff;-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);-moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);box-shadow:0 2px 5px rgba(0, 0, 0, 0.2) !important;-webkit-transition:all 0.3s;transition:all 0.3s;}
.switch input:checked + label:after{left:28px;}
.switch.type_01 input + label:before{background-color:#d7d7d9;}
.switch.type_01 input:checked + label:before{background-color:#6379d1;}
.switch.type_01 input:disabled + label:before{background-color:rgba(215, 215, 217, 0.4);}
.switch.type_01 input:disabled:checked + label:before{background-color:rgba(99, 121, 209, 0.25);}

